input[type="image"]{
    width: 20px;
    height: 20px;
}

input[type="text"]{
    background-color: #F0F2EF;
    border : none;
}

form{
    background-color: #F0F2EF;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
