input[type="text"], form, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0F2EF;
}

.searchbar-icon{
    padding-left: 10px;
}

.search-button{
    width: 20px;
}

.cancel-button{
    width: 15px;
    opacity: 0.5;
}

input[type="text"]{
    background-color: #F0F2EF;
    border : none;
    width: 85%;
}


input[type="text"]:focus {
    border: none;
    outline: none
}

form{
    background-color: #F0F2EF;
    width: 75%;
    height: 60%;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;    /* Allinea verticalmente */
}

label{
    display: none;
}

nav{
    background-color: #082D0F;
    height: 75px;
    display: flex;
    align-items: center;    /* Allinea verticalmente */
    padding-left: 12px;
    padding-right: 12px;
}

nav .menu-icon{
    width: 65px;
    margin-left: auto;
}

nav .categories{
    display: none;
}

@media (min-width: 768px){
    form{
        width: 20%;
    }

    .menu-icon{
        display: none;
    }
}
/*Reset rule*/
header, ul, li, a, h1{
    padding: 0%;
    margin: 0%;
}

ul{
    list-style: none;
}

header{
    margin: 20px 5% 0px;
}

header > h1{
    display: inline-block;
    width: 30%;/*definizione delle dimensione dei tag nella linea*/
    text-align: center;
    color: #FF7D00;
    font-weight: bold;
}
header > ul{
    display: inline-block;
    width: 70%;/*definizione delle dimensione dei tag nella linea*/
    text-align: right;
    /*tolgo i pallini*/
    list-style: none;
    /*background-color: red;*/
    /*margin-left: 20%;*/
}
img{
    width: 70px;
}
/*essendo elementi di blocco gli elementi sono tra loro separati con andata a capo*/
header > ul > li{
    /*width: 40%;
    rende gli elementi inline
    display: inline-block;*/
    position: relative;
    float: right;
    /*text-align: center;
    margin: 10px 0;*/
    /*il padding va messo sul contenitore perchè se lo mettessi sul link -> si aumenterebbe l'area cliccabile*/
    padding: 0 5%;
}

header ul li ul{
    position: absolute;
    left: -10px;/*posizionamento rispetto al nodo padre, ovvero al list item che contiene la lista con sottomenù*/
    text-align: center;
    width: 200px;
    margin: 70px 0 0;
    background: #3F413E;
    display: none;
}

header ul li ul li{
    padding: 5px 0 0;
}


header ul li ul a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/*quando si passa con il cursore sull'icona si apre vede il menù*/
header ul li#icon:hover > ul{
    display: initial;
}

article{
    background-color: #082D0F;
    display: block;
}

.main-articles{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}


article > img{
    width: 100%;
    border-bottom: 10px solid #F0F2EF;
}

article > h2{
    width: 100%;
    color: #F0F2EF;
    text-align: center;
    margin-bottom: 0px;
}

article > p{
    box-sizing: border-box;
    width: 100%;
    color: #F0F2EF;
    text-align: left;
    padding: 15px;
    margin: 0;
}

article > footer > input[type=button] {
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    color: #082D0F;
    width: 150px;
    font-weight: bold;
}

article > footer{
    display: flex;
    justify-content: flex-end; /* Pushes content to the right */
    align-items: center; /* Vertically aligns the button if needed */
}

.hidden{
    visibility: hidden;
    display: none;
}

.right-arrow-icon{
    position: absolute;
    right: 4px;
    top: 60%;
    width: 40px;
}

.left-arrow-icon{
    position: absolute;
    left: 4px;
    top: 60%;
    width: 40px;
}