input[type="text"], input[type="image"], form, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0F2EF;
}

input[type="image"]{
    width: 20px;
    padding-left: 10px;
}

input[type="text"]{
    background-color: #F0F2EF;
    border : none;
    width: 85%;
}

form{
    background-color: #F0F2EF;
    width: 75%;
    height: 60%;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;    /* Allinea verticalmente */

    flex-shrink: 0;
    flex-grow: 1;
}

label{
    display: none;
}

nav{
    background-color: #082D0F;
    height: 75px;
    display: flex;
    align-items: center;    /* Allinea verticalmente */
    padding-left: 12px;
    padding-right: 12px;
    /*In prova*/
    overflow-x: auto;
    white-space: nowrap;
}

nav .menu-icon{
    width: 65px;
    margin-left: auto;
}

nav .categories{
    display: none;
}

@media (min-width: 768px){
    form{
        width: 20%;
    }

    .menu-icon{
        display: none;
    }

    nav{
        display: flex;
    }

    nav .categories{
        display: unset;
    }

    nav > ul.categories{
        list-style: none;
        display: flex;
        margin-left: auto;
        margin-right: auto;

        flex-shrink: 1;
        overflow: hidden;
    }

    nav > ul.categories > li{
        overflow: auto;
        display: inline-block;
        padding-right: 20px;
    }

    nav > ul.categories > li > a{
        display: block;
        text-decoration: none;
        color: #F0F2EF;
        font-family: 'Josefin', sans-serif;
        font-size: 16px;
        transition: all 0.3s ease;
    }

    nav > ul.categories > li > a:hover{
        background-color: #F0F2EF;
        color: #082D0F;
        border-radius: 3px;
    }
}
